
@{
    ViewBag.Title = "Profile Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Teacher</h2>
@model Data.Models.Teacher

@using (Html.BeginForm("Edit", "ProfileTeacher"))
{
    @Html.EditorFor(model => model.FirstName)
    @Html.EditorFor(model => model.LastName)
    @Html.EditorFor(model => model.Email)
    @Html.EditorFor(model => model.PasswordHash)
    @Html.EditorFor(model => model.Mobile)

    <input type="submit" value="Save" />
}

