@model IEnumerable<Data.Models.Student>

@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Classes", "Classroom"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h2 style=""> Class: </h2>

        <div class="col-md-10" style="max-width:11%">
            @Html.EditorFor(model => model.FirstOrDefault().ClassNumber, new { htmlAttributes = new { @class = "form-control", @min = "7", @max = "12", @display = "inline-block", @type = "number" } })
        </div>

        <div class="col-lg-10" style="max-width:10%; display:inline-block;">
            @Html.DropDownListFor(model => model.FirstOrDefault().ClassLetter, new List<SelectListItem>
            {
                new SelectListItem {Text = "A", Value = "A"},
                new SelectListItem {Text = "B", Value = "B"},
                new SelectListItem {Text = "C", Value = "C"},
                new SelectListItem {Text = "D", Value = "D"},
                new SelectListItem {Text = "E", Value = "E"},
                new SelectListItem {Text = "F", Value = "F"},
                new SelectListItem {Text = "G", Value = "G"},
                new SelectListItem {Text = "H", Value = "H"},
                new SelectListItem {Text = "I", Value = "I"},
                new SelectListItem {Text = "J", Value = "J"},
                new SelectListItem {Text = "K", Value = "K"},
                new SelectListItem {Text = "L", Value = "L"}
            }, new { @class = "form-control" })
        </div>

        <input type="submit" value="Search" class="btn btn-default" />
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Details", "StudentDetails", "Classroom", new {id = item.Id}, null)
                </td>
            </tr>
        }
    </table>
}