@model Data.Models.Student
@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<dt>
    @Html.DisplayNameFor(model => model.Email)
</dt>
<dd>
    @Html.DisplayFor(model => model.Email)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Mobile)
</dt>
<dd>
    @Html.DisplayFor(model => model.Mobile)
</dd>
<dt>
    Class
</dt>
<dd>
    @Html.DisplayFor(model => model.ClassNumber) @Html.DisplayFor(model => model.ClassLetter)
</dd>